@page "/parts"
@layout MainLayout
@inherits SimpleCarRepair.Pages.PartsComponent

@using Radzen
@using Radzen.Blazor
@using SimpleCarRepair.Models.SimpleCarRepairDb
@using Microsoft.AspNetCore.Identity;
@using SimpleCarRepair.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles="Authenticated, Administrator, Mechanic")]
<PageTitle>Parts</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Dodaj" Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getPartsResult" FilterMode="Radzen.FilterMode.Advanced" TItem="SimpleCarRepair.Models.SimpleCarRepairDb.Part" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenDataGridColumn TItem="SimpleCarRepair.Models.SimpleCarRepairDb.Part" Property="Id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SimpleCarRepair.Models.SimpleCarRepairDb.Part" Property="Name" Title="Nazwa">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SimpleCarRepair.Models.SimpleCarRepairDb.Part" Property="EAN" Title="EAN">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SimpleCarRepair.Models.SimpleCarRepairDb.Part" Property="Cost" Title="Koszt">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SimpleCarRepair.Models.SimpleCarRepairDb.Part" Filterable="false" Groupable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="simpleCarRepairModelsSimpleCarRepairDbPart">
                <RadzenButton Icon="perm_media" Size="ButtonSize.Small" Click="@((args) =>Button1Click(args, simpleCarRepairModelsSimpleCarRepairDbPart))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="SimpleCarRepair.Models.SimpleCarRepairDb.Part" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="simpleCarRepairModelsSimpleCarRepairDbPart">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, simpleCarRepairModelsSimpleCarRepairDbPart))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
